/* Reset básico */
body, html, div, h1, h2, p, img, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(0, 72, 142); /* Fundo principal azul */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 20px;
    color: #fff; /* Cor do texto global */
}

/* Container principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Cabeçalho */
.header {
    text-align: center;
    padding: 20px;
    background-color: #0072B1;
    color: #FFFFFF;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.header h2 {
    font-size: 1.8em;
    font-weight: bold;
    margin: 0;
}

/* Seção Todos os Cursos */
.todos-cursos h2 {
    font-size: 1.6em;
    color: white;
    margin-bottom: 20px;
}

/* Configuração Flexbox para os contêineres */
.todos-cursos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.curso-card {
    width: 270px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
}

.curso-card:hover {
    transform: scale(1.08);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.curso-card img {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.card-body {
    text-align: center;
    padding: 15px;
    background-color: #fff;
    width: 100%;
}

.card-title {
    font-size: 1.3em;
    font-weight: bold;
    color: #333;
    margin: 0;
}

/* Ajuste do título e boas-vindas */
h1 {
    font-size: 2.2em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h1 strong {
    color: #0072B1;
    font-weight: bold;
}
