<body class="custom-body">
    <main class="custom-main-container">
        <div class="custom-row">
            <div class="custom-col-left">
                <div class="custom-back-btn">
                    <a href="home" class="custom-btn-danger">
                        Voltar
                    </a>
                </div>
                <h1 class="custom-title">{{treinamentoSelecionado?.titulo}}</h1>
                <p class="custom-description">{{treinamentoSelecionado?.descricao}}</p>
                <div class="custom-image-container">
                    <img src={{treinamentoSelecionado?.imagem}} width="600" height="600" alt="Video Placeholder" class="custom-image">
                </div>

                <div class="custom-dropdown">
                    <button class="custom-btn-warning" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Módulos
                    </button>
                    <ul class="custom-dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li *ngFor="let modulo of treinamentoSelecionado?.modulos; index as i">
                            <a [routerLink]="['/treinamentos', treinamentoSelecionado?.id, 'modulos', i]" class="dropdown-item">
                                {{ modulo.titulo }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="custom-col-right">
                <p><strong>Carga horária:</strong> 7h</p>
                <p><strong>Módulos:</strong> 5</p>
                <p><strong>Possui certificação?</strong> Sim</p>
                <p><strong>Pré-Requisitos:</strong> Nenhum</p>
                <p><strong>Público:</strong> empregados da planta 1</p>
                <p><strong>Obrigatório:</strong> Não</p>
            </div>
        </div>
    </main>
</body>
