.custom-body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(0, 72, 142); /* Azul escuro */
    color: white;
}

.custom-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0;
}

.custom-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.custom-col-left {
    flex: 1;
    text-align: center;
    padding: 40px;
}

.custom-col-right {
    background-color: #ffc107; /* Amarelo */
    color: #343a40;
    padding: 40px;
    border-radius: 20px;
    text-align: left;
    flex: 0.5;
}

.custom-back-btn {
    text-align: start;
    margin-bottom: 20px;
}

.custom-btn-danger {
    background-color: #dc3545;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 1rem;
    transition: transform 0.2s ease;
    color: white;
    text-decoration: none;
}

.custom-btn-danger:hover {
    transform: scale(1.05);
}

.custom-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.custom-description {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 30px;
}

.custom-image-container {
    margin: 20px 0;
}

.custom-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
}

.custom-btn-warning {
    background-color: #ffc107;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 1rem;
    color: #343a40;
    border: none;
    cursor: pointer;
}

.custom-dropdown-menu {
    text-align: left;
}

@media (max-width: 768px) {
    .custom-col-left, .custom-col-right {
        padding: 20px;
        flex-direction: column;
    }

    .custom-title {
        font-size: 2rem;
    }

    .custom-image {
        width: 100%;
    }
}
